    <div class="card">
      <header>
      <img src="/images/user1.png" style="width:100%">
      </header>
      <main>
        <div>Description</div>
      </main>
      <footer class="icons">            
        <span><i class="far fa-solid fa-comment"></i> 5</span>
        <span><i class="fas fa-retweet"></i> 10</span>
        <span><i class="far fa-solid fa-heart"></i> 15</span>
        <span><i class="fas fa-share"></i></span> 
      </footer>
    </div>