<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>header</title>
</head>

<body>
  <header>
    <nav>
      <div class="nav-bar">
        <div class="logo">Logo</div>
        <div class="user">
          <a href="/favorites">My Deals</a>
          <a href="/profile"><img class="user-icon" src="/images/user2.png" alt="User Icon"></a>
          <a href="/profile"><i class="fa-solid fa-angles-down fa-bounce" data-id="arrow-icon"></i>  My Profile</a>
        </div>
      </div>
    </nav>
  </header>
</body>

</html>