<body>
  <script src="https://cdn.tailwindcss.com"></script>

  <header class="p-5 flex justify-between items-center">
    <div class="text-2xl"><a href="/deals">Deals</a></div>
    <a href="/deals/saved" class="rounded-full bg-blue-300 px-3 py-1 shadow-lg"
      >My Deals</a
    >
    <div class="flex gap-10">
      <form id="searchForm" action="/deals/searchRender" method="get">
        <label for="search">Search Deals</label>
        <input
          type="search"
          id="search"
          class="border-solid border-black-300 border-2 mx-3"
        />
        <button label="search-buton" type="submit">Submit</button>
      </form>
      <a href="/deals/newdeal"><i class="fa-solid fa-plus text-2xl"></i></a>
      <a href="/profile"><i class="fa-solid fa-user text-2xl"></i></a>
    </div>
  </header>
  <script type="text/javascript" src="/scripts/deals.js"></script>
</body>
