<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <header>
    <nav>
      <div class="nav-bar">
        <placeholder>Logo</placeholder>
        <div class="user">
          <span>MY DEALS</span>
          <img class="user-icon" src="/images/user2.png">
          <i class="fa-solid fa-angles-down fa-bounce" data-id="arrow-icon"></i>
        </div>
      </div>
    </nav>
  </header>
</body>

</html>