<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <!-- Top nav bar (fixed) -->
  <%- include('partials/header') %>
    <!-- Page-specific (main) content here -->
    <main>
      <section class="container">
        <label>searching...</label>
        <textarea class="search-bar"></textarea>
        <p>ALL DEALS!</p>
      </section>
      <hr>
      <section class="user-posts">
        <!-- create for loop to loop through all the posts/deals
        for each post/deal render it including functionalities(likes, comments)-->
        <% for (let i=0; i < 15; i++){ %>
          <%- include('partials/deal-card') %>
            <% } %>
      </section>
    </main>
</body>

</html>