<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <!-- Top nav bar (fixed) -->
    <%- include('partials/header') %>
    <main>
      <section>
        <h1>Users</h1>
        <button id="fetch-users">Fetch Users via AJAX</button>
        <ul id="users"></ul>
      </section>
    </main>
</body>
</html>