nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: #4056A1;
  height: 100px;
  width: 100%;
  align-items: center;
  font-family: "Bungee", sans-serif;
  padding: 5px;
  justify-content: center;
}

.header-style{
  display: flex;
  align-items: flex-end;
}

.user{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  margin-top: 10px;
  padding: 5px;
  justify-content: flex-end;
}

.user-icon{
  height: 100px;
  width: 100px;
}

.button{
  background-color: rgb(0, 4, 65);
}

.user a{
  color: #ffffff;
}

@media only screen and (min-width: 1024px) {
  nav{ 
   position: fixed; 
   background-color: #4056A1;
   flex-direction: row;
  }
 
  body{
   display: flex;
   flex-direction: row;
  }
 }